@font-face {
	font-family: 'TitilliumWeb-Regular';
	src: url('TitilliumWeb-Regular.ttf');
	font-weight: 400;
}

* {
	font-family: 'TitilliumWeb-Regular';
}

body {
	margin: 0;
	background: rgb(42, 45, 62);
}

main {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	padding: 2rem 1rem;
	border-radius: 1rem;
	text-align: center;
	color: rgb(42, 45, 62);
}

img {
	width: 30%;
	border-radius: 50%;
}

@media screen and (max-width: 425px) {
	img {
		width: 50%;
	}

	main {
		font-size: 0.75rem;
	}
}

h3 {
	color: rgba(42, 45, 62, 0.5);
	margin-top: 0;
}

.social-networks {
	padding-top: 1rem;
}

.social-networks a {
	margin: 1rem;
	text-decoration: none !important;
	color: rgb(149, 157, 203);
}
.social-networks a:hover {
	color: rgb(42, 45, 62);
}

footer {
	color: white;
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}